Notebooks/.ipynb_checkpoints/
Challenges/4_Plankton/__pycache__/
Challenges/4_Plankton/__pychache__/
Challenges/5_Anomaly/__pycache__/
Challenges/5_Anomaly/.ipynb_checkpoints/
Challenges/4_Plankton/.ipynb_checkpoints/
